.wrapper {
  background-image: url(http://www.officialpsds.com/images/thumbs/2-Chainz-psd83906.png);  
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right bottom;
  height: 800px;
  width: 100%;
  border: 1px solid black; 
  text-align: left;
}

.date ,.hex{
  color: white;
  font-family: 'Kaushan Script', cursive;
  padding-left: 100px;
  font-size: 7em;
  text-shadow: 1px 1px 4px black;
}


p{
  color: white;
  font-size: 4em;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 1px 1px 4px black;
  padding-left: 200px;

}